{% extends "base.html" %}
{% block content %}
    {% if product_list %}
        <ul>
            {% for product in product_list %}
                <div>
                    <li><a href="#">{{ product.name }}</a></li>
                    <a>{{ '상품코드' }}---{{ product.code }}</a>
                    <a>{{ '상품설명' }}---{{ product.description }}</a>
                    <a>{{ '가격' }}---{{ product.price }}</a>
                    <a>{{ '사이즈' }}---{{ product.size }}</a>
                </div>

            {% endfor %}
        </ul>
    {% else %}
        <p>상품이 없습니다.</p>
    {% endif %}
{% endblock %}